@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;800&display=swap');

body {
    margin: 0;
    background-color: #1F2937;
    font-family: "Karla";
    padding: 30px;
    text-align: center;
}

h1 {
    font-weight: 800;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 40px;
}

h1 .highlight {
    color: #4ADF86;
}

.subtitle {
    color: #D5D4D8;
    padding: 0;
    margin: 0 0 51px 0;
    font-size: 20px;
}

.generate-passwd {
    color: white;
    border: none;
    border-radius: 10px;
    margin: 40px 0 10px 0;
    padding: 10px 20px;
    background-color: #10B981;
    font-size: 20px;
    cursor: pointer;
}

.slider input[type="range"] {
    -webkit-appearance:none !important;
    width: 200px;
    height: 8px;
    background: #4B5563;
    border: none;
    border-radius: 10px;
    outline: none;
}
.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 20px;
    height: 20px;
    background: #6EE7B7;
    border-radius: 50%;
    cursor: pointer;
}
.slider input[type="range"]::-webkit-slider-thumb:hover {
    background: #10b981;
}

.slider p {
    color: #D1FAE5;
}

fieldset {
    color: white;
    border: 1px solid #2F3E53;
    margin: 0 10px;
}

legend {
    padding: 0 10px;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

input[type="checkbox"] {
    accent-color: #10B981;
}

hr {
    width: 90%;
    border: 1px solid #2F3E53;
    display: none;
}

.password-box {
    color: white;
    border: none;
    height: 42px;
    width: 300px;
    border-radius: 10px;
    margin: 35px 0 0 ;
    padding: 9px 28px;
    background: #273549;
    color: #55F991;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}


.password-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
    color: #9CA3AF;
}

.p1-copied-text, .p2-copied-text {
    visibility: hidden;
}

footer > p {
    color: #9CA3AF;
}

footer > p > a {
    color: #4adf86;
}

@media only screen and (max-width: 660px) {
    .password-fields {
        flex-direction: column;
        column-gap: 0px;
    }

    .checkbox-container {
        flex-direction: column;
        row-gap: 10px;
    }
}